@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT */

@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/manrope/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/manrope/Manrope-Light.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}

:root {
  font-family: manrope, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  &::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-lg;
    background: #ededed;
  }

  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background: #dcdcdc;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-[#a1a1a1];
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-[#8d8d8d];
  }
}

.main-sections {
  @apply p-6 min-h-[50%] max-h-full rounded-2xl bg-white overflow-y-auto;
}

.title {
  @apply text-2xl font-bold mb-2;
}